$white: hsl(0, 0%, 100%);
$light-gray: hsl(212, 45%, 89%);
$gray:hsl(210, 17%, 84%);
$grayish-blue: hsl(220, 15%, 55%);
$dark-blue: hsl(228, 45%, 44%);
$black-blue: rgb(25, 35, 60);

$p-font-size: 15px;

$base-font-weight: 400;
$bold-font-weight: 700;
